button{
  align-items: center;
  background-color: lavender;
  /* border: 0.25rem solid black; */
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem black;
  color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 4.275rem;
  justify-content: center;
  margin: 1rem 2rem 1rem 4rem;
  min-width: 27rem;
  padding: 0.125rem;
  transition: 0.35s;
}

button:hover{
  box-shadow: 1rem 1rem 1.5rem black
}

h1{
  font-size: 5rem
}

/* input{
  background-color: #282c34;
  border: 0.125rem solid white;
  border-radius: 0.375rem;
  color: white;
  font-size: 1.5rem;
  height: 2.5rem;
  margin: 1rem;
  width: 85%
} */

p{
  margin: 0.25rem 0;
}

/* ========================================================================== */

.App {
  align-items: center;
  background-color: lavender;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10rem;
} */

.App-header {
  align-items: center;
  color: rebeccapurple;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  /* min-height: 12rem; */
  width: 100%;
}

.App-header div{
  animation: App-Grow 1s linear;
  /* animation-timing-function: ease; */
}

.arrayDiv{
  align-items: center;
  background-color: lavender;
  /* border: 0.25rem solid black; */
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem;
  min-width: 25rem;
  /* padding: 1rem; */
  transition: 0.35s;
  width: 100%;
}

.arrayDiv:hover{
  box-shadow: 1rem 1rem 1.5rem black
}

.imgDiv{
  /* border: 0.125rem solid ; */
  border-radius: 0.5rem 0 0 0.5rem;
  height: 4.275rem;
  margin: 0 2rem 0 0;
  width: 7rem
}

.imgDiv img{
  border-radius: 0.5rem 0 0 0.5rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* ========================================================================== */

#whizArray{
  align-items: center;
  background-color: rgba(102, 51, 153, 0.5);
  border: 0.25rem solid black;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 1rem;
  width: 55%;
}

@keyframes App-Grow {
  0%{transform: scale(0)}
   
  
  50%{transform: scale(4)}
    
  100%{transform: scale(1)}
}
