h1{
  font-size: 5rem
}

p{
  margin: 0.25rem 0;
}

button{
  color: #282c34;
  margin: 1rem;
  height:2.5rem;
  font-size: 1.5rem;
  padding: 0.125rem;
  border:0.25rem solid white;
  border-radius: 0.375rem;
  background-color: white;
}

input{
  color: white;
  margin: 1rem;
  height:2.5rem;
  font-size: 1.5rem;
  border:0.125rem solid white;
  border-radius: 0.375rem;
  background-color: #282c34;
  width: 85%
}



.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 10rem;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-header iframe{
  /* display: flex; */
  /* width:25% */
  opacity: 0.75;
}

.App-link {
  color: #61dafb;
}


#info{
  display: flex;
  flex-direction: column;
  width: 38%;
  justify-content: center;
  align-items: flex-start;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
